<table class="transaction-table">
    <thead>
        <tr class="transaction-table-row">
            <th> Date </th>
            <th> Counterparty Name </th>
            <th> Payment type </th>
            <th> Amount </th>
            <th> Attach </th>
        </tr>
    </thead>

    {{#each transactions key="id" as |transaction|}}
        <tr class="transaction-table-row">
            <td>
                {{transaction.created_at}}
            </td>
            <td>
                {{transaction.counterparty_name}}
            </td>
            <td>
                {{transaction.payment_type}}
            </td>
            <td>
                {{transaction.amount}}
            </td>
            <td>
                {{transaction.attachements.length}}
            </td>
        </tr>
    {{/each}}
</table>
