.page-header {
    background-color: #EBAF3D;
    height: 160px;
}

.left-padding {
    padding-left: 106px;
}

.logo {
    background-color: #363D45;
    height: 98px;
    width: 405px;
    padding-top: 62px;
    color: #FEFEFE;
    font-size: 33px;
}

.container {
    display: flex;
}

.left-menu {
    flex: 0 0 405px;
    background-color: #3E4750;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.left-menu-category {
    padding: 43px 0;
    border-bottom: 2px solid #49515E;
}

.left-menu-item {
    padding-top: 48px;
    color: #818994;
}

.left-menu-item:last-child {
    padding-bottom: 43px;
}

.main-content {
    background-color: #FCFCFC;
}

.links {
    text-decoration: none;
    color: #818994;
}

.transactions-container {
    margin-top: 80px;
    margin-left: 220px;
}
