<html>
    <div class="page-header">
        <div class="logo left-padding">
            FINPAL
        </div>
    </div>
    <div class="container">
        <div class="left-menu left-padding">
            <div class="left-menu-category">
                <div class="left-menu-item">
                    {{#link-to 'transactions' class="links"}}Transaction{{/link-to}}
                </div>
            </div>
        </div>
        <div class="main-content">
            {{outlet}}
        </div>
    </div>
</html>
